	body {
	background-image: url(flag.JPG);
	text-align: center;

} 

	h1, h2,img{
	color: red;
	text-align: center;
}


	li{
	color:white;

}

	ul{
	display: table;
	margin:0 auto;

	} 


	div.pull-left{
	width: 40%;
	float:left;
	text-align: left;
}


	div.pull-right{
	width: 40%;
	float: right;
	text-align: right;
}


   ul.flag{
   	background-color: rgba( 33,33,33,0.7);


   }

   h4.yes{
   	background-color: rgba(33,33,33,0.7);
   	color:green;
   }


	h4.no{
	background-color: rgba(33,33,33,0.7);
	color:red;
	}

